<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <title>Library Application</title>
</head>

<body>

<div th:insert="header.html"></div>

<h1>Список книг</h1>
<table class="books">
    <thead>
    <tr>
        <th>Наименование книги</th>
        <th>Год издания книги</th>
        <th>Автор</th>
        <th>Жанр</th>
        <th>Изменить книгу</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="bookSource : ${books}">
        <td th:text="${bookSource.name}">John Doe</td>
        <td th:text="${bookSource.yearEdition}">1</td>
        <td>
            <ul>
                <li th:each="authorSource : ${bookSource.authors}" th:text="${authorSource.fio}">authorSource name</li>
            </ul>
        </td>
        <td>
            <ul>
                <li th:each="genreSource : ${bookSource.genres}" th:text="${genreSource.name}">genreSource name</li>
            </ul>
        </td>
        <td>
            <a th:href="@{/books/__${bookSource.id}__}" href="edit.html">edit</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>